## Week 2

### Exercise:
Use and experience methods from previous lessons with given data. Try to search for other pandas methods to analyze the data such as `groupby()` and `read_csv()`.

In [56]:
# You can find covid related data under project's data folder 
base_url = 'C:\\veri_bilimi\\data\\covid\\'
infected_dataset_url ="C:\\veri_bilimi\\data\\covid\\time_series_covid19_confirmed_global (1).csv"
recovered_dataset_url = base_url + "time_series_covid19_recovered_global.csv"
deaths_dataset_url = base_url + "time_series_covid19_deaths_global.csv"

#### Solution:

In [2]:
# Your code goes here
import pandas as pd
import requests

In [23]:
first_data=pd.read_csv(infected_dataset_url)
first_data.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142

In [34]:
print('which country infected mostly in 6/7/20?')
max_value=first_data['6/6/20'].max()
max_value_country=first_data[first_data['6/6/20'] == max_value]['Country/Region']

print(f" {max_value}    {max_value_country}")

which country infected mostly in 6/7/20?
 1926538    225    US
Name: Country/Region, dtype: object

In [38]:
info=first_data.info()
describe= first_data.describe()
print(f"it s information about first dataframe {info} it s describe about  first dataframe {describe}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Columns: 150 entries, Province/State to 6/15/20
dtypes: float64(2), int64(146), object(2)
memory usage: 311.8+ KB
it s information about first dataframe None it s describe about  first dataframe               Lat        Long     1/22/20     1/23/20     1/24/20     1/25/20  \
count  266.000000  266.000000  266.000000  266.000000  266.000000  266.000000
mean    21.148043   22.538640    2.086466    2.458647    3.537594    5.390977
std     24.909990   70.466256   27.279200   27.377862   34.083035   47.434934
min    -51.796300 -135.000000    0.000000    0.000000    0.000000    0.000000
25%      6.907750  -18.093125    0.000000    0.000000    0.000000    0.000000
50%     23.488100   20.972650    0.000000    0.000000    0.000000    0.000000
75%     41.143200   77.191525    0.000000    0.000000    0.000000    0.000000
max     71.706900  178.065000  444.000000  444.000000  549.000000  761.000000

           1/26/20      1/27/20      1/28/20      1/29/20  ...        6/6/20  \
count   266.000000   266.000000   266.000000   266.000000  ...  2.660000e+02
mean      7.962406    11.003759    20.969925    23.180451  ...  2.594981e+04
std      66.289178    89.313757   219.187744   220.524977  ...  1.333309e+05
min       0.000000     0.000000     0.000000     0.000000  ...  0.000000e+00
25%       0.000000     0.000000     0.000000     0.000000  ...  1.572500e+02
50%       0.000000     0.000000     0.000000     0.000000  ...  9.535000e+02
75%       0.000000     0.000000     0.000000     0.000000  ...  7.094500e+03
max    1058.000000  1423.000000  3554.000000  3554.000000  ...  1.926538e+06

             6/7/20        6/8/20        6/9/20       6/10/20       6/11/20  \
count  2.660000e+02  2.660000e+02  2.660000e+02  2.660000e+02  2.660000e+02
mean   2.637496e+04  2.676449e+04  2.722817e+04  2.773058e+04  2.825084e+04
std    1.349130e+05  1.363934e+05  1.382464e+05  1.402889e+05  1.424252e+05
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    1.572500e+02  1.572500e+02  1.580000e+02  1.625000e+02  1.650000e+02
50%    9.710000e+02  9.820000e+02  9.825000e+02  9.825000e+02  9.830000e+02
75%    7.117250e+03  7.427000e+03  7.706750e+03  8.005750e+03  8.194000e+03
max    1.944309e+06  1.961781e+06  1.979868e+06  2.000702e+06  2.023590e+06

            6/12/20       6/13/20       6/14/20       6/15/20
count  2.660000e+02  2.660000e+02  2.660000e+02  2.660000e+02
mean   2.873782e+04  2.924391e+04  2.974596e+04  3.020474e+04
std    1.445871e+05  1.467117e+05  1.484660e+05  1.502466e+05
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    1.710000e+02  1.722500e+02  1.760000e+02  1.760000e+02
50%    1.005000e+03  1.005000e+03  1.005000e+03  1.005000e+03
75%    8.334500e+03  8.452500e+03  8.586500e+03  8.608750e+03
max    2.048986e+06  2.074526e+06  2.094058e+06  2.114026e+06

[8 rows x 148 columns]

In [52]:
#country_index='Country/Region'
#first_data.set_index(country_index,inplace=True)
#here I changed index name as country name

first_data

,Province/State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,33.000000,65.000000,0,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
Albania,NaN,41.153300,20.168300,0,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
Algeria,NaN,28.033900,1.659600,0,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
Andorra,NaN,42.506300,1.521800,0,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
Angola,NaN,-11.202700,17.873900,0,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sao Tome and Principe,NaN,0.186360,6.613081,0,0,0,0,0,0,0,...,499,513,513,514,611,632,639,659,661,662
Yemen,NaN,15.552727,48.516388,0,0,0,0,0,0,0,...,482,484,496,524,560,591,632,705,728,844
Comoros,NaN,-11.645500,43.333300,0,0,0,0,0,0,0,...,141,141,141,141,162,162,163,176,176,176
Tajikistan,NaN,38.861034,71.276093,0,0,0,0,0,0,0,...,4453,4529,4609,4690,4763,4834,4902,4971,5035,5097
Lesotho,NaN,-29.609988,28.233608,0,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4

In [53]:
shape =first_data.shape
size = first_data.size
f"shape of this data is {shape} and size of this data {size}"

'shape of this data is (266, 149) and size of this data 39634'

In [54]:
#Here I wanna show a few country and their number of infected people in 6/14/20
first_data.loc['Comoros':'Lesotho']['6/14/20']

Country/Region
Comoros        176
Tajikistan    5035
Lesotho          4
Name: 6/14/20, dtype: int64

In [58]:
second_data=pd.read_csv(recovered_dataset_url)
second_data.tail()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
248,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,68,68,68,76,135,146,156,176,177,177
249,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,23,23,23,23,23,23,28,39,53,79
250,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,67,67,67,67,97,97,97,114,114,114
251,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,2583,2673,2763,2815,2947,3062,3158,3288,3409,3503
252,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [60]:
second_data.loc[second_data['6/14/20'] > 135]['Country/Region'].head()

0    Afghanistan
1        Albania
2        Algeria
3        Andorra
6      Argentina
Name: Country/Region, dtype: object

In [61]:
#I wanna drop a country but firstly I should set country name as index
country_index='Country/Region'
second_data.set_index(country_index,inplace=True)

In [62]:
second_data.head()

,Province/State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,33.0000,65.0000,0,0,0,0,0,0,0,...,1830,1875,2171,2651,3013,3326,3928,4201,4725,5164
Albania,NaN,41.1533,20.1683,0,0,0,0,0,0,0,...,925,938,945,960,980,1001,1034,1039,1044,1055
Algeria,NaN,28.0339,1.6596,0,0,0,0,0,0,0,...,6631,6717,6799,6951,7074,7255,7322,7420,7606,7735
Andorra,NaN,42.5063,1.5218,0,0,0,0,0,0,0,...,741,744,751,757,759,780,781,781,781,789
Angola,NaN,-11.2027,17.8739,0,0,0,0,0,0,0,...,24,24,38,38,40,41,42,61,61,64

In [64]:
second_data.drop('Andorra')

,Province/State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,33.000000,65.000000,0,0,0,0,0,0,0,...,1830,1875,2171,2651,3013,3326,3928,4201,4725,5164
Albania,NaN,41.153300,20.168300,0,0,0,0,0,0,0,...,925,938,945,960,980,1001,1034,1039,1044,1055
Algeria,NaN,28.033900,1.659600,0,0,0,0,0,0,0,...,6631,6717,6799,6951,7074,7255,7322,7420,7606,7735
Angola,NaN,-11.202700,17.873900,0,0,0,0,0,0,0,...,24,24,38,38,40,41,42,61,61,64
Antigua and Barbuda,NaN,17.060800,-61.796400,0,0,0,0,0,0,0,...,20,20,20,20,20,20,20,20,20,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sao Tome and Principe,NaN,0.186360,6.613081,0,0,0,0,0,0,0,...,68,68,68,76,135,146,156,176,177,177
Yemen,NaN,15.552727,48.516388,0,0,0,0,0,0,0,...,23,23,23,23,23,23,28,39,53,79
Comoros,NaN,-11.645500,43.333300,0,0,0,0,0,0,0,...,67,67,67,67,97,97,97,114,114,114
Tajikistan,NaN,38.861034,71.276093,0,0,0,0,0,0,0,...,2583,2673,2763,2815,2947,3062,3158,3288,3409,3503
Lesotho,NaN,-29.609988,28.233608,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [66]:
third_data=pd.read_csv(deaths_dataset_url)
third_data.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,327,357,369,384,405,426,446,451,471,478
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,34,34,34,34,34,35,36,36,36,36
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,698,707,715,724,732,741,751,760,767,777
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,4,4,4,4,4,5,5,6,6,6

In [77]:
third_data.columns.isin(['Turkey'])
if 'Turkey' in third_data['Country/Region'].values:
    print("Yes Turkiye is here ")
else:
    print("No Ä±t doesnt have ")

Yes Turkiye is here

In [81]:
#I wanna add new column language fo country for that I m changing it s index as country name
country_index='Country/Region'
third_data.set_index(country_index,inplace=True)
third_data.head()

,Province/State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,33.0000,65.0000,0,0,0,0,0,0,0,...,327,357,369,384,405,426,446,451,471,478
Albania,NaN,41.1533,20.1683,0,0,0,0,0,0,0,...,34,34,34,34,34,35,36,36,36,36
Algeria,NaN,28.0339,1.6596,0,0,0,0,0,0,0,...,698,707,715,724,732,741,751,760,767,777
Andorra,NaN,42.5063,1.5218,0,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
Angola,NaN,-11.2027,17.8739,0,0,0,0,0,0,0,...,4,4,4,4,4,5,5,6,6,6

In [82]:
langs = pd.Series(
    ['French', 'German', 'Italian'],
    index=['France', 'Germany', 'Italy'],
    name='Language'
)

In [83]:
third_data['language']=langs

In [84]:
third_data.head()

,Province/State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20,language
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,33.0000,65.0000,0,0,0,0,0,0,0,...,357,369,384,405,426,446,451,471,478,NaN
Albania,NaN,41.1533,20.1683,0,0,0,0,0,0,0,...,34,34,34,34,35,36,36,36,36,NaN
Algeria,NaN,28.0339,1.6596,0,0,0,0,0,0,0,...,707,715,724,732,741,751,760,767,777,NaN
Andorra,NaN,42.5063,1.5218,0,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,NaN
Angola,NaN,-11.2027,17.8739,0,0,0,0,0,0,0,...,4,4,4,4,5,5,6,6,6,NaN

In [85]:
new_row = pd.Series({
    '1/24/20':7876,
    'Language': 'TÃ¼rkÃ§e'
}, name="TÃ¼rkiye"
)

In [86]:
pd.concat([third_data,new_row.to_frame().T],ignore_index=False)

,Province/State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20,language,Language
Afghanistan,NaN,33.000000,65.000000,0.0,0.0,0,0.0,0.0,0.0,0.0,...,369.0,384.0,405.0,426.0,446.0,451.0,471.0,478.0,NaN,NaN
Albania,NaN,41.153300,20.168300,0.0,0.0,0,0.0,0.0,0.0,0.0,...,34.0,34.0,34.0,35.0,36.0,36.0,36.0,36.0,NaN,NaN
Algeria,NaN,28.033900,1.659600,0.0,0.0,0,0.0,0.0,0.0,0.0,...,715.0,724.0,732.0,741.0,751.0,760.0,767.0,777.0,NaN,NaN
Andorra,NaN,42.506300,1.521800,0.0,0.0,0,0.0,0.0,0.0,0.0,...,51.0,51.0,51.0,51.0,51.0,51.0,51.0,51.0,NaN,NaN
Angola,NaN,-11.202700,17.873900,0.0,0.0,0,0.0,0.0,0.0,0.0,...,4.0,4.0,4.0,5.0,5.0,6.0,6.0,6.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yemen,NaN,15.552727,48.516388,0.0,0.0,0,0.0,0.0,0.0,0.0,...,112.0,127.0,129.0,136.0,139.0,160.0,164.0,208.0,NaN,NaN
Comoros,NaN,-11.645500,43.333300,0.0,0.0,0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN
Tajikistan,NaN,38.861034,71.276093,0.0,0.0,0,0.0,0.0,0.0,0.0,...,48.0,48.0,48.0,49.0,49.0,50.0,50.0,50.0,NaN,NaN
Lesotho,NaN,-29.609988,28.233608,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
TÃ¼rkiye,NaN,NaN,NaN,NaN,NaN,7876,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TÃ¼rkÃ§e

In [89]:
deaths_dataset=third_data.groupby(['Long','Lat'])
print(deaths_dataset)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002096838CB50>

In [91]:
deaths_dataset.describe()

                   1/22/20                                   1/23/20       \
                     count mean std  min  25%  50%  75%  max   count mean
Long      Lat
-135.0000  64.2823     1.0  0.0 NaN  0.0  0.0  0.0  0.0  0.0     1.0  0.0
-124.8457  64.8255     1.0  0.0 NaN  0.0  0.0  0.0  0.0  0.0     1.0  0.0
-123.1207  49.2827     1.0  0.0 NaN  0.0  0.0  0.0  0.0  0.0     1.0  0.0
-122.6655  37.6489     1.0  0.0 NaN  0.0  0.0  0.0  0.0  0.0     1.0  0.0
-116.5765  53.9333     1.0  0.0 NaN  0.0  0.0  0.0  0.0  0.0     1.0  0.0
...                    ...  ...  ..  ...  ...  ...  ...  ...     ...  ...
 151.2093 -33.8688     1.0  0.0 NaN  0.0  0.0  0.0  0.0  0.0     1.0  0.0
 153.4000 -28.0167     1.0  0.0 NaN  0.0  0.0  0.0  0.0  0.0     1.0  0.0
 165.6180 -20.9043     1.0  0.0 NaN  0.0  0.0  0.0  0.0  0.0     1.0  0.0
 174.8860 -40.9006     1.0  0.0 NaN  0.0  0.0  0.0  0.0  0.0     1.0  0.0
 178.0650 -17.7134     1.0  0.0 NaN  0.0  0.0  0.0  0.0  0.0     1.0  0.0

                    ... 6/14/20        6/15/20                           \
                    ...     75%    max   count   mean std    min    25%
Long      Lat       ...
-135.0000  64.2823  ...     0.0    0.0     1.0    0.0 NaN    0.0    0.0
-124.8457  64.8255  ...     0.0    0.0     1.0    0.0 NaN    0.0    0.0
-123.1207  49.2827  ...   168.0  168.0     1.0  168.0 NaN  168.0  168.0
-122.6655  37.6489  ...     0.0    0.0     1.0    0.0 NaN    0.0    0.0
-116.5765  53.9333  ...   150.0  150.0     1.0  151.0 NaN  151.0  151.0
...                 ...     ...    ...     ...    ...  ..    ...    ...
 151.2093 -33.8688  ...    48.0   48.0     1.0   48.0 NaN   48.0   48.0
 153.4000 -28.0167  ...     6.0    6.0     1.0    6.0 NaN    6.0    6.0
 165.6180 -20.9043  ...     0.0    0.0     1.0    0.0 NaN    0.0    0.0
 174.8860 -40.9006  ...    22.0   22.0     1.0   22.0 NaN   22.0   22.0
 178.0650 -17.7134  ...     0.0    0.0     1.0    0.0 NaN    0.0    0.0


                      50%    75%    max
Long      Lat
-135.0000  64.2823    0.0    0.0    0.0
-124.8457  64.8255    0.0    0.0    0.0
-123.1207  49.2827  168.0  168.0  168.0
-122.6655  37.6489    0.0    0.0    0.0
-116.5765  53.9333  151.0  151.0  151.0
...                   ...    ...    ...
 151.2093 -33.8688   48.0   48.0   48.0
 153.4000 -28.0167    6.0    6.0    6.0
 165.6180 -20.9043    0.0    0.0    0.0
 174.8860 -40.9006   22.0   22.0   22.0
 178.0650 -17.7134    0.0    0.0    0.0

[262 rows x 1168 columns]